SKIT_S2T_APIKEY = <<your S2T API Key>>
SKIT_S2T_LOCATION = <<your S2T Location>>
SKIT_AOAI_APIKEY = <<your AOAI API Key>>
SKIT_AOAI_ENDPOINT = <<your AOAI Endpoint>>
SKIT_EMBEDDING_DEPLOYMENTNAME = <<your text embedding deployment name>>
SKIT_CHATCOMPLETION_DEPLOYMENTNAME = <<your chat completion deployment name>>
SKIT_SEARCH_ENDPOINT = <<your cognitive search endpoint>>
SKIT_SEARCH_APIKEY = <<your cognitive search api key>>
SKIT_LANGUAGE_APIKEY = <<your language service API Key>>
SKIT_LANGUAGE_ENDPOINT = <<your language service endpoint>>
SKIT_ASSET_FOLDER = "../../../../assets"
SKIT_DAVINCI_DEPLOYMENTNAME = <<your davinci deployment name>>