SKIT_AOAI_APIKEY = <<your AOAI API Key>>
SKIT_AOAI_ENDPOINT = <<your AOAI Endpoint>>
SKIT_EMBEDDING_DEPLOYMENTNAME = <<your text embedding deployment name>>
SKIT_CHATCOMPLETION_DEPLOYMENTNAME = <<your chat completion deployment name>>
SKIT_SEARCH_ENDPOINT = <<your cognitive search endpoint>>
SKIT_SEARCH_APIKEY = <<your cognitive search api key>>
SKIT_ASSET_FOLDER = "../../../../assets"
SKIT_AOAI1106_APIKEY = <<your AOAI API Key for either gpt-35-turbo version 1106 or gpt-4 version 1106>>
SKIT_AOAI1106_ENDPOINT = <<your AOAI endpoint for either gpt-35-turbo version 1106 or gpt-4 version 1106>>
SKIT_AOAI1106_DEPLOYMENTNAME = <<your AOAI model deployment name for either gpt-35-turbo version 1106 or gpt-4 version 1106>>
